/******  Cortex-M0 Processor Exceptions Numbers **************************************************************/
  NonMaskableInt_IRQn         = -14,    /*!< -14 Non Maskable Interrupt                                      */
  HardFault_IRQn              = -13,    /*!< -13 Cortex-M0 Hard Fault Interrupt                              */
  SVC_IRQn                    = -5,     /*!< -5 Cortex-M0 SV Call Interrupt                                  */
  PendSV_IRQn                 = -2,     /*!< -2 Cortex-M0 Pend SV Interrupt                                  */
  SysTick_IRQn                = -1,     /*!< -1 Cortex-M0 System Tick Interrupt                              */
