/**
 * @brief Configuration of the {{cpu.name_full_name}} Processor and Core Peripherals
 */
#define {{ "%-25s"|format(cpu.core_rev_define) }} 0 /*!< {{ "%-49s"|format("Core Revision %s"|format(cpu.revision)) }} */
{% if cpu.mpuPresent %}
#define {{ "%-25s"|format("__MPU_PRESENT") }} 1 /*!< {{ "%-49s"|format("%s provide MPU"|format(name_upper)) }} */
{% else %}
#define {{ "%-25s"|format("__MPU_PRESENT") }} 0 /*!< {{ "%-49s"|format("%s do not provide MPU"|format(name_upper)) }} */
{% endif %}
#define {{ "%-25s"|format("__NVIC_PRIO_BITS") }} {{cpu.nvicPrioBits}} /*!< {{ "%-49s"|format("%s uses %s Bits for the Priority Levels"|format(name_upper, cpu.nvicPrioBits)) }} */
{% if cpu.vendorSysTickConfig %}
#define {{ "%-25s"|format("__Vendor_SysTickConfig") }} 1 /*!< Set to 1 if different SysTick Config is used      */
{% else %}
#define {{ "%-25s"|format("__Vendor_SysTickConfig") }} 0 /*!< Set to 1 if different SysTick Config is used      */
{% endif %}
{% if cpu.vtorPresent %}
#define {{ "%-25s"|format("__VTOR_PRESENT") }} 1 /*!< Set to 1 if different Vector Table Offset is used */
{% else %}
#define {{ "%-25s"|format("__VTOR_PRESENT") }} 0 /*!< Set to 1 if different Vector Table Offset is used */
{% endif %}
