{% include 'license.j2' %}
/** @addtogroup CMSIS
  * @{
  */

/** @addtogroup {{name_lower}}xx
  * @{
  */

#ifndef __{{name_upper}}xx_H
#define __{{name_upper}}xx_H

#ifdef __cplusplus
 extern "C" {
#endif /* __cplusplus */

/** @addtogroup Configuration_section_for_CMSIS
  * @{
  */
{% include 'cpu.j2' %}
/**
  * @}
  */

/** @addtogroup Peripheral_interrupt_number_definition
  * @{
  */

/**
 * @brief {{name_upper}}xx Interrupt Number Definition, according to the selected device
 *        in @ref Library_configuration_section
 */

/**
 * @brief {{name_upper}}xx Interrupt Number Definition, according to the selected device
 *        in @ref Library_configuration_section
 */
{% include 'interrupt.j2' %}
/**
  * @}
  */

{% include 'include_file.j2' %}

/** @addtogroup Peripheral_registers_structures
  * @{
  */
{% for peripheral in peripherals %}
{% include 'struct.j2' %}
{% endfor %}

/**
  * @}
  */

/** @addtogroup Peripheral_memory_map
  * @{
  */

{% include 'memory_map.j2' %}

/**
  * @}
  */

/** @addtogroup Peripheral_declaration
  * @{
  */

{% include 'peripheral_declaration.j2' %}

/**
  * @}
  */

/** @addtogroup Exported_constants
  * @{
  */

/** @addtogroup Hardware_Constant_Definition
  * @{
  */

/** @addtogroup Peripheral_Registers_Bits_Definition
  * @{
  */

/******************************************************************************/
/*                         Peripheral Registers_Bits_Definition               */
/******************************************************************************/
{% for peripheral in peripherals %}
{% include 'reg_bit.j2' %}
{% endfor %}

/**
  * @}
  */

/**
  * @}
  */

/** @addtogroup Exported_macro
  * @{
  */

{% include 'instance_def.j2' %}

/******************************************************************************/
/*  For a painless codes migration between the {{"%-29s"|format("%sxx device product"|name_upper)}} */
/*  lines, the aliases defined below are put in place to overcome the         */
/*  differences in the interrupt handlers and IRQn definitions.               */
/*  No need to update developed interrupt code when moving across             */
/*  product lines within the same {{"%-43s"|format("%sxx Family"|name_upper)}} */
/******************************************************************************/

/**
  * @}
  */

#ifdef __cplusplus
}
#endif /* __cplusplus */

#endif /* __{{name_upper}}xx_H */

/**
  * @}
  */

/**
  * @}
  */

/************************ (C) COPYRIGHT Geehy Semiconductor *****END OF FILE****/
