{% if cpu.name == 'CM0+' %}
#include "core_cm0plus.h"       /* Cortex-M0+ processor and core peripherals */
{% elif cpu.name == 'CM3' %}
#include "core_cm3.h"       /* Cortex-M3 processor and core peripherals */
{% elif cpu.name == 'CM4' %}
#include "core_cm4.h"       /* Cortex-M4 processor and core peripherals */
{% endif %}
#include "system_{{name_lower}}.h"    /* {{name_upper}}xx System Header */
#include <stdint.h>
