/******************************* {{instance.get("groupName")}} Instances ******************************/
{%- if instance.findall("name") | length == 1 %}
#define IS_{{instance.get("groupName")}}_ALL_INSTANCE(INSTANCE) (((INSTANCE) == {{instance.findall("name")[0].text}}))
{%- else %}
#define IS_{{instance.get("groupName")}}_ALL_INSTANCE(INSTANCE) ( \
{%- for name in instance.findall("name") %}
{%- if not loop.last %}
                            ((INSTANCE) == {{name.text}}) || \
{%- else %}
                            ((INSTANCE) == {{name.text}}))
{%- endif %}
{%- endfor %}
{%- endif %}
