{%- if cpu.find('name').text == 'CM0+' %}
#include "core_cm0plus.h"       /* Cortex-M0+ processor and core peripherals */
{%- elif cpu.find('name').text == 'CM3' %}
#include "core_cm3.h"       /* Cortex-M3 processor and core peripherals */
{%- elif cpu.find('name').text == 'CM4' %}
#include "core_cm4.h"       /* Cortex-M4 processor and core peripherals */
{%- endif %}
#include "system_{{root.find('name').text|lower}}.h"    /* {{root.find('name').text|upper}}xx System Header */
#include <stdint.h>
