{%- for peripheral in peripherals %}
#define {{"%-23s"|format(peripheral.find("name").text)}} ({{"%-28s %s_BASE"|format("(%s*)"|format(peripheral.get("typedef")), peripheral.find("name").text)}})
{%- endfor %}
